@model IEnumerable<AdventurePark.Models.Rides>

@{
    ViewBag.Title = "Available rides ";
}

<h2>Available rides</h2>


<table class="table">
    <tr>
        <th>
            Ride name
        </th>
        <th>
            Difficulty level
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideDifficultyLevel)
        </td>
        <td>
            @Html.ActionLink("Choose this one", "RideRollerCoaster", new { id=item.RideID })
        </td>
    </tr>
}

</table>
