@model AdventurePark.Models.Visitors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorFirstName)
        </dd>

        <dt>
            Last name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorLastName)
        </dd>

        <dt>
            Age 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorAge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
